<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/ararat-mount.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/explore_logo.svg" alt="">
                    </div>
                    <h1 class="presentation-title">Explore</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Հետազոտիր Հայաստանը Explore-ի հետ․</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by Khachik Ghazaryan</h6>
    </div>
    <div class="main">
        <app-components></app-components>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Ծանոթացիր <strong>Explore</strong> հավելվածի հետ․</h2>
                        <p class="description">
                            <strong>Explore</strong>֊ը հավելված է, որը կոգնի ձեզ ավելի արագ և հեշտ ինֆորմացիա ստանալ ձեզ հետաքրքրող վայրերի մասին։
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center">
                        <img src="../../assets/img/screenshot_1.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 60%">
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="../../assets/img/screenshot_2.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 60%">
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="../../assets/img/screenshot_3.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 60%">
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="../../assets/img/screenshot_4.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 60%">
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="../../assets/img/screenshot_5.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 60%">
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="../../assets/img/screenshot_6.png" alt="Rounded Image" class="img-rounded img-responsive" style="width: 60%">
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="https://github.com/Khacho/Explore" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Github" target="_blank">
                            <i class="fa fa-github"></i> Github
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>